@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

/* THIS IS ALL FOR THE INDEX.HTML PAGE. THE ABOUT.HTML PAGE STARTS IN LINE 270*/

body {
  margin: 0;
  padding: 0;
  font-size: 22px;
  background-color: #d9ded3;

}
/* This is the part that deals with the navigation at the top of the page*/

header{
  background: #353135;

}
#nav-sidebar{
    background: #353135;
    padding: 0;
    margin: 0;
}


#nav-sidebar ul{
  list-style-type: none;
  /* this removes default browser settings*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #353135;
  padding-right: 50px;




}
#nav-sidebar li {
  float:right;


}
#nav-sidebar li a{

  display:block;
  color:#f3f5e8;
  text-align: center;
  text-decoration: none;
  padding: 10px 16px;
}
header #logo-div{

  margin:0;
  padding: 0;
}

header #logo-div h3.ivanBrand{

  float: left;
}
 header #logo-div h3.ivanBrand{
  margin:0;
  padding: 10px 0px 10px 25px;
  display:block;
  color:#f3f5e8;
  text-align: center;

}

@media screen and (max-width: 768px) {
  #menu {
    width:1.4em;
    padding:0;
    margin:0;
    background:#353135;
    font-size:1.35em;
    text-align: center;
    float: right;

  }
  #nav.js{
    display: none;

  }
   ul {
    width:100%;
    list-style:none;

  }
   li {
    width:100%;
    border-right:none;
  }
}

@media screen and (min-width: 768px) {
  #menu {

    display: none;
  }
}



/*#353135 this is the black*/
/*#f3f5e8 this is the white.*/


/* This is the part that'll deal with the image gallery*/


#imageGallery{

width: 1200px;
margin: 0 auto;

}

#imageGallery-ul{

  -moz-column-count: 3;
  -moz-column-gap: 0px;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
  width: 1200px;
  list-style: none;
  padding:0px 0px;

}

#imageGallery-ul a img{

  display:block;
  margin-bottom: 0px;
  width:102%;

}

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
 #imageGallery-ul {
 -moz-column-count: 3;
 -moz-column-gap: 0px;
 -webkit-column-count: 3;
 -webkit-column-gap: 0px;
 column-count: 3;
 column-gap: 0px;
 width: 1000px;
 }

 #imageGallery {
 width: 1000px;
 }
}


@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
 #imageGallery-ul {
 -moz-column-count: 3;
 -moz-column-gap: 0px;
 -webkit-column-count: 3;
 -webkit-column-gap: 0px;
 column-count: 3;
 column-gap: 0px;
 width: 800px;
 }

 #imageGallery {
 width: 800px;
 }
}

@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
  #imageGallery-ul{
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    width: 600px;
  }
  #imageGallery{
    width: 600px;
  }



}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){

  #imageGallery-ul{
  -moz-column-count: 1;
  -moz-column-gap: 0px;
  -webkit-column-count: 1;
  -webkit-column-gap: 0px;
  column-count: 1;
  column-gap: 0px;
  width: 400px;
  }

  #imageGallery{
    width: 400px;
  }
}

@media only screen and (max-width : 399px),
only screen and (max-device-width : 399px){

  #imageGallery-ul{
  -moz-column-count: 1;
  -moz-column-gap: 0px;
  -webkit-column-count: 1;
  -webkit-column-gap: 0px;
  column-count: 1;
  column-gap: 0px;
  width: 200px;
  }

  #imageGallery{
    width: 200px;
  }
}


/*this is the part that deals with the footer.*/

#imageGalleryFooter{
  margin: 0;
  padding: 0;
  padding-top: 20px;
  width:100%;
  text-decoration: none;
  text-align: center;
  color:grey;




}
#imageGalleryFooter footer{
  padding-top: 50px;
  text-align: center;
}
#imageGalleryFooter ul{

  padding: 0;
  list-style: none;
}
#imageGalleryFooter h4{
  margin:1% 0 1% 0;
  font-size: 1.4em;
}



.social-icon {
	color: #fff;
}

ul.social-icons {
	margin-top: 10px;

}

.social-icons li {
	vertical-align: top;
	display: inline;
}

.social-icons a {
	color: #fff;
	text-decoration: none;
}


.fa-facebook {
	padding:10px 14px 7px 14px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #353135;
}

.fa-facebook:hover {
	background-color: #3d5b99;
}

.fa-twitter {
	padding:10px 10px 7px 10px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #353135;
}

.fa-twitter:hover {
	background-color: #00aced;
}


.fa-google-plus {
	padding:10px 10px 7px 10px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
  	background-color: #353135;
}

.fa-google-plus:hover {
	background-color: #e25714;
}


/*this is the part that deals with the heading*/


#imageGalleryHeading{
  padding-top: 60px;
  text-align: center;
  padding-bottom: 20px;
}
#imageGallery h1{
  color: grey;

}

/*THE ABOUT PAGE STARTS HERE*/
